header{
    height: 560px;
    background-image: url("https://wallpapers.com/images/featured/fundo-de-grand-theft-auto-p28wj7clynoarng7.jpg");
    background-size: cover;
    background-position: center bottom;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 25px;
    padding-bottom: 50px;
    margin: 0;
}

.textoheader{
    display:flex;
    flex-direction: column;
}

body{
    margin: 0;
    background-image: url(imagens/TESTE.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    margin:0;
    overflow-x: hidden;
    height: 1800px;

}


.logo{
    font-size:85px;
    font-weight:bold;
    color:black;
    line-height: 105px;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.bloco{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(239, 239, 2);
    width: 1200px;
    padding:60px;
    margin: -30px auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.blocoheader{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 2);
    margin: 0;       /* remove a margem padrão do body */
    padding: 0; 
    margin: -40px auto 0 auto;
    padding-top: 45px;
}

.bloco_under_header{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 2);
    margin: 0;       /* remove a margem padrão do body */
    padding: 0; 
    min-height: 10px;
    margin: -40px auto 0 auto;
}

.btn{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px, 50px;
    color:white;
    background-color: black;
    border-radius: 25px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.401);
}

.btn_buscar{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
    color:white;
    background-color: black;
    width: 50px;
    border-radius: 55px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 4px;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.401);
}


.blocotexto{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 550px;
    min-height: 450px;
    padding:60px;
    margin: -70px auto 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;   
    border-radius: 20px;
}

.janela{
    width: 600px;   /* largura da área visível */
    height: 470px;  /* altura da área visível */
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blocofooter {
    width: 100h%;
    height: 200px;
    background-color: rgb(0, 0, 0);
}


.textofooter{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    display: inline-block;

}

.container {
    display: flex; /* Makes the container a flex container */
    justify-content: space-around; /* Optional: Distributes space evenly */
    margin:71px;
}
.blococarro{
    width: 400px;
    height: 450px;
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;

}

.blococarro:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.janela2{
    width: 350px;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    object-fit: cover; /* Prevents distortion, crops if necessary */
    object-position: center; /* Centers the focal point of the image */
}